body {
    background-color: lightgray;
}
.button {
    width:40%;
    margin-top: 1%;
    margin-left: 30%;
}
#form {
    border: solid darkgray 2px;
    width: 40%;
    margin: auto;

}

.display{
    width:40%;
    margin:auto;
}
.room{
    width:40%;
    margin:auto;
}
